body {
    /* display: flex; */
    background-color: azure;
    font-family: Arial, sans-serif;
    margin: 20px;
    box-sizing: border-box;
}

h1 {
    font-family: "Times New Roman", serif;
    color: #000000;
    margin: 10px 0;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: orangered;
}
a:visited {
    color: purple;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #000000;
}

#main-header {
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

#main-header h1 {
    margin: 0;
    font-size: 32px;
    color: antiquewhite;
}

#main-header p {
    font-size: 16px;
    margin-top: 10px;
}

.content-article {
    background-color: antiquewhite;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.content-article h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.content-article p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*flex-direction: column;
    ei toiminut*/
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header,
nav,
main,
aside,
footer {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 2;
    background-color: #33b2ec;
    color: white;
    text-align: center;
    padding: 10px;
}

aside {
    flex: 1;
    /* flex-grow: 12; */
    /* float: left;
    width: 9%; */
    /* height: fit-content; */

    /* Big small esimerkki flexbox videolta*/
    background-color: #2980b9;
    color: white;
    text-align: left;
    padding: 10px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 1px;
    text-align: justify;
}

/* @media (max-width: 768px) {
    header,
    nav,
    main,
    aside,
    footer {
        flex: 100%;
    } 
}*/